<li>{% spaceless %}
    <strong>
        {% if not talk.fuzzy_date %}
            {{ talk.date|date('jS F') }}
        {% else %}
            {{ talk.date|date('F') }}
        {% endif %}
    </strong> - {{ talk.location }} -
    {% if talk.title_link %}<a href="{{ talk.title_link }}">{% endif %}
        {{ talk.title }}
    {% if talk.title_link %}</a>{% endif %}

    {{ talk.title_suffix }}
{% endspaceless %}</li>
