<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                {% if show_talk %}<th>Talk</th>{% endif %}
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            {% set events = reverse_order ? events|sortbyfield('date')|reverse : events|sortbyfield('date') %}
            {% for event in events %}
                <tr>
                    <td>
                        {{ event.date|date('j F Y') }}
                    </td>

                    {% if show_talk %}
                        <td>
                            <a href="{{ event.talk.url }}">
                                {{ event.talk.title }}
                            </a>
                        </td>
                    {% endif %}

                    <td>
                        {% if event.website %}<a href="{{ event.website }}">{% endif %}
                        {{ event.title }}
                        {% if event.website %}</a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
