<li>
    <strong>
        {% if talk.fuzzy_date %}
            {{ talk.date|date('F') }}
        {% else %}
            {{ talk.date|date('jS F') }}
        {% endif %}
    </strong> -
    {% if talk.location_link %}
        <a href="{{ talk.location_link }}">
    {% endif %}
    {{ talk.location }}
    {% if talk.location_link %}
        </a>
    {% endif %}
    -
    {% if talk.title_link %}
        <a href="{{ talk.title_link }}">
    {% endif %}
    {{ talk.title }}
    {% if talk.title_link %}
        </a>
    {% endif %}
</li>
