<li>{% spaceless %}
    <strong>{{ talk.date|date('F') }}</strong> - {{ talk.location }} -
    <a href="{{ talk.url }}" title="{{ talk.title }}">
        {{ talk.title }}
    </a>
{% endspaceless %}</li>
