<div class="table-responsive">
    <table class="talk-event-table table table-striped">
        <thead>
            <tr>
                <th class="column-date">Date</th>
                {% if not hide_talk %}<th>Talk</th>{% endif %}
                <th class="column-event">Event</th>
                {% if not hide_feedback %}<th class="column-feedback">Feedback</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td class="column-date">
                        <div class="event-date display-block">
                            {{ event.date|date('j F Y') }}
                        </div>

                        {% if event.time %}
                            <small class="talk-type">
                                {{ event.time }}
                            </small>
                        {% endif %}
                    </td>

                    {% if not hide_talk %}
                        <td>
                            <div class="display-block">
                                {% if not event.talk.hide_page %}
                                    <a href="{{ event.talk.url }}">
                                        {{ event.talk.title }}
                                    </a>
                                {% else %}
                                    {{ event.talk.title }}
                                {% endif %}
                            </div>

                            {% if event.talk.type %}
                                <small class="talk-type">
                                    {{ event.talk.type }}
                                </small>
                            {% endif %}
                        </td>
                    {% endif %}

                    <td class="column-event">
                        <div class="display-block">
                            {% if event.url %}<a href="{{ event.url }}">{% endif %}
                            {{ event.title }}
                            {% if event.url %}</a>{% endif %}
                        </div>

                        {% if event.location %}
                            <small class="event-location">
                                {{- event.location -}}
                            </small>
                        {% endif %}
                    </td>

                    {% if not hide_feedback -%}
                        <td class="column-feedback">
                            {% if event.talk.joindin %}
                                <a href="{{ event.talk.joindin }}" class="btn btn-primary" title="Read or leave feedback for this talk">
                                    <i class="fa fa-comment-o"></i> joind.in
                                </a>
                            {% endif %}
                        </td>
                    {%- endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
