{% extends 'base' %}

{% block content_wrapper %}
    <div class="space-y-10">
        <div class="space-y-6">
            <header>
                <time datetime="{{ page.date|date('Y-m-d') }}">
                    Posted on {{ page.date|date('jS F Y') -}}
                    {% if page.tags %}
                        in
                        {% for tag in page.tags %}
                            <a class="link" href="/blog/tags/{{ tag }}">{{ tag }}</a>
                            {%- if not loop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                </time>
            </header>

            <div>
                {% include 'post/old-post-message' with {
                    post: page,
                } only %}
            </div>

            <div class="markdown">
                <b>{{ page.excerpt }}</b>

                {% include "post/table-of-contents" with { toc: page.toc } only %}

                {{ parent() }}
            </div>

            {% include 'post/comments-questions' with {
                twitter: {
                    name: site.twitter.name,
                    url: site.twitter.url
                }
            } only %}
        </div>

        {% include 'about-author' with {
            avatar: site.avatar,
            work: site.work,
        } only %}
    </div>
{% endblock %}
