---
import AboutMe from '../../components/AboutMe.astro'
import Events from '../../components/talk/Events.astro'
import Layout from '../../layouts/Layout.astro'
import Markdown from '../../components/Markdown.astro'
import Slides from '../../components/talk/Slides.astro'
import Video from '../../components/talk/Video.astro'

export async function getStaticPaths() {
  const talks = await Astro.glob('../../talks/*.md')

  return talks.map(talk => {
    const parts = talk.file.replace('.md', '').split('/')
    const slug = parts[parts.length - 1]

    return {
      params: { slug },
      props: { talk } 
    }
  })
}

const { Content } = Astro.props.talk
const { events, speakerdeck, title, video } = Astro.props.talk.frontmatter
---

<Layout title={title}>
  <div class="space-y-6">
    <Markdown>
      <Content />
    </Markdown>

    {speakerdeck && (
      <Slides id={speakerdeck.id} ratio={speakerdeck.ratio} />
    )}

    {video && (
      <Video id={video.id} type={video.type} />
    )}

    <Events events={events} />

    <AboutMe />
  </div>
</Layout>
