<div class="clearfix mt-4">
    <h2>About the Author</h2>

    <img src="{{ site.images_url }}{{ site.avatar.url }}"
         alt="Picture of Oliver"
         class="w-1/6 mr-4 float-left rounded-full">

    <p>Oliver Davies is a Web Developer, System Administrator and Drupal specialist based in the UK. He is a {{ site.work.role }} at <a href="{{ site.companies[site.work.company].url }}?utm_source={{ site.short_url }}&utm_medium=about-author">{{ site.companies[site.work.company].name }}</a> and also provides freelance consultancy services for Drupal, Symfony and Laravel applications and Linux servers.</p>
</div>
