{% macro htmlTitle(site, page) -%}
    {% if page.title is defined and page.url != '//' %}
        {{ page.title }} |
    {% endif %}
    {{ site.title }} - {{ site.subtitle }}
{%- endmacro %}

{% import _self as helpers %}

<!DOCTYPE html>
<html class="no-js text-sm" lang="en-GB">
    <head>
        <title>{{ helpers.htmlTitle(site, page) }}</title>
        {% include 'meta' %}

        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}

        {% for size in site.apple_touch_icon_sizes %}
            <link rel="apple-touch-icon" href="{{ site.favicon.url }}?s={{ size }}" sizes="{{ size }}x{{ size }}">
        {% endfor %}

        {% for size in site.favicon_sizes %}
            <link rel="icon" href="{{ site.favicon.url }}?s={{ size }}" sizes="{{ size }}x{{ size }}">
        {% endfor %}
    </head>
    <body class="font-sans leading-normal">
        <div id="app" v-cloak>
            {% include 'layout/navbar' %}

            <div class="container mx-auto px-4">
                <div class="text-grey-darkest md:flex -mx-4">
                    <main class="md:w-2/3 lg:w-3/4 px-4 mb-8 lg:mb-0">
                        {% block page_title %}
                            <h1>{{ page.title }}</h1>
                        {% endblock %}

                        {% block content_wrapper %}
                            {% block content %}{% endblock %}
                        {% endblock %}
                    </main>

                    {% block sidebar_wrapper %}
                        <div class="md:w-1/3 lg:w-1/4 px-4" role="complementary">
                            {% block sidebar %}
                                {% include 'availability' %}
                                {% include 'posts/latest' %}
                                {% include 'badges' %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>

                <footer class="border-t border-grey-light pt-4 mt-4">
                    <p>
                        &copy; 2010-{{ 'now'|date('Y') }} {{ site.title }}.
                        Built with <a class="link" href="https://sculpin.io">Sculpin</a> and <a class="link" href="https://tailwindcss.com">Tailwind CSS</a>.
                        Hosted on <a class="link" href="https://www.netlify.com">Netlify</a>.
                    </p>

                    {% include 'meetups' %}
                </footer>
            </div>
        </div>

        {% if site.google_analytics_tracking_id %}
            <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', '{{ site.google_analytics_tracking_id }}', 'auto'); ga('send', 'pageview');</script>
        {% endif %}

        {% if page.has_tweets %}
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endif %}

        <script src="/js/all.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
