<!DOCTYPE html>
<!--[if lte IE 8]> <html class="ie ie8 lt9 lte8 lte7"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]> <html> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    {% if page.meta.description %}
      <meta name="description" content="{{ page.meta.description|e('html') }}">
    {% endif %}

    {% if page.meta.og %}{% include "og" with {og: page.meta.og} %}{% endif %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="author" href="{{ site.url }}/humans.txt" />

    {% include 'title' %}

    <link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/styles.css') }}">
    {% block styles %}{% endblock %}
  </head>
  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
    {% include 'navbar' %}

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          {% block content_wrapper %}
            {% block content %}{% endblock %}
          {% endblock %}
        </div>

        <div class="col-md-2">
          <section class="block block--da_member">
            <h2>Drupal Association</h2>
            <a href="https://assoc.drupal.org/membership" title="Become a Drupal Association member">
              <img src="/assets/images/da-individual-member.png" alt="Drupal Association Individual Member">
            </a>
          </section>

          <section class="block block--drupalcon_la">
            <h2>DrupalCon LA</h2>
            <img src="/assets/images/drupalcon-la-attending.png" alt="">
            <img src="/assets/images/drupalcon-la-sprinter.png" alt="">
          </section>
        </div>
      </div>{# .row #}
    </div>{# .container #}

    <footer class="container" role="contentinfo">
      <p class="copyright">&copy; {{ site.start_date }}-{{ 'now' | date('Y') }} {{ site.title }}.</p>
    </footer>

    {% include 'footer-scripts' %}
  </body>
</html>
