<!DOCTYPE html>
<html class="no-js" lang="{{ site.locale }}">
    {{ include('head.html.twig') }}
    <body class="{{ page.blocks.body_classes }}">
        {{ include('nav.html.twig') }}

        <div class="container">
            <div class="row">
                {% block content_wrapper %}
                    <main class="col-md-9">
                        {% block content_top %}{% endblock %}
                        {% block content %}{% endblock %}
                        {% block content_bottom %}{% endblock %}
                    </main>
                {% endblock %}

                {{ include('sidebar.html.twig') }}
            </div>{# .row #}
        </div>{# .container #}

        {{ include('footer.html.twig') }}
    </body>
</html>
