<!DOCTYPE html>
    <!--[if lte IE 8]><html lang="{{ site.html_lang }}" class="ie ie8 lt9 lte8 lte7"> <![endif]-->
    <!--[if IE 9]><html lang="{{ site.html_lang }}" class="ie ie9 lte9"> <![endif]-->
    <!--[if gt IE 9]><html lang="{{ site.html_lang }}"><![endif]-->
    <!--[if !IE]><!--><html lang="{{ site.html_lang }}"><!--<![endif]-->
    <head>
        {% include('title') %}

        {% if page.meta.description %}
            <meta name="description" content="{{ page.meta.description|e('html') }}">
        {% endif %}

        {% if page.meta.og %}
            {{ include('og', { og: page.meta.og }) }}
        {% endif %}

        <meta lang="{{ site.html_lang }}" charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ site.url }}/assets/css/oliverdavies.css">
        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/{{ site.hightlightjs_style }}.css">
        <link rel="stylesheet" href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css">
        {% block styles %}{% endblock %}

        {% for size in site.apple_touch_icon_sizes %}
            <link rel="apple-touch-icon" href="{{ site.gravatar.url }}?s={{ size }}" sizes="{{ size }}x{{ size }}">
        {% endfor %}

        {% for size in site.favicon_sizes %}
            <link rel="icon" href="{{ site.gravatar.url }}?s={{ size }}" sizes="{{ size }}x{{ size }}">
        {% endfor %}
    </head>
    <body class="{{ page.blocks.body_classes }}">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        {% for name, item in site.main_menu %}
                            <li{% if page.nav == name %} class="active"{% endif %}>
                                <a href="{{ item.href }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>{# .nav-collapse #}
            </div>
        </nav>

        <div class="container">
            <div class="row">
                {% block content_wrapper %}
                    <main class="col-md-9">
                        {% block content_top %}{% endblock %}
                        {% block content %}{% endblock %}
                        {% block content_bottom %}{% endblock %}
                    </main>
                {% endblock %}

                {% block sidebar_wrapper %}
                    <div class="col-md-3">
                        {% block sidebar %}
                            <div class="panel">
                                <a href="https://assoc.drupal.org/membership/individuals?country=United+Kingdom" title="I’m a Drupal Association member.">
                                    <img src="{{ site.url }}/assets/images/da-individual-member.png" alt="Drupal Association Individual Member" width="150">
                                </a>

                                <a href="https://assoc.drupal.org/membership">
                                    <img src="{{ site.url }}/assets/images/drupal-association-become-member.png" alt="Become a Drupal Association member." width="150">
                                </a>
                            </div>

                            <a href="https://www.drupal.org/8">
                                <img alt="I built Drupal 8 with hand holding a wrench on blue background" src="https://assoc.drupal.org/files/ibuiltd8-blue.jpg"/>
                            </a>

                            {% include('availability') %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>{# .row #}
        </div>{# .container #}

        <footer class="container">
            <p class="copyright">&copy; 2010-{{ 'now'|date('Y') }} {{ site.title }}. Powered by <a href="https://sculpin.io">Sculpin</a> and <a href="https://www.digitalocean.com/?refcode={{ site.digitalocean_referral }}">DigitalOcean</a>.</p>

            {% include('meetups') %}
        </footer>

        <script src="{{ site.url }}/components/jquery/jquery.min.js"></script>
        <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        {% block scripts %}{% endblock %}

        {% if page.tweets %}
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endif %}

        {% if site.google_analytics_tracking_id %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
