{% extends 'page' %}

{% block meta_description -%}
  Discussing {{ page.topic }} with {{ page.guests.0 }}.
{%- endblock %}

{% block page_title %}
  {% set episodeNumber = page.url|trim('/')|split('/')|last|split('-')|first %}

  Episode {{ episodeNumber }}:
  {{ page.topic }}
  with {{ page.guests.0 }}
{% endblock %}

{% block head_title %}
  <title>{{ block('page_title') }} | Beyond Blocks podcast | {{ site.name }}</title>
  <meta property="og:title" content="{{ block('page_title') }} | Beyond Blocks podcast | {{ site.name }}" />
  <meta property="twitter:title" content="{{ block('page_title') }} | Beyond Blocks podcast | {{ site.name }}" />
{% endblock %}

{% block content_wrapper %}
  {% if page.transistor.id %}
    <div>
      <iframe
        width="100%"
        height="180"
        frameborder="no"
        scrolling="no"
        seamless=""
        src="{{ site.transistor.share.url }}/{{ page.transistor.id }}">
      </iframe>
    </div>
  {% endif %}

  {{ parent() }}

  {% if page.talking_points %}
    <div>
      <h2>Key points</h2>

      <ul>
        {% for point in page.talking_points %}
          <li>{{ point }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if page.quotes %}
    <div>
      <h2>Quotes</h2>

      <ul>
        {% for quote in page.quotes %}
          <li>{{ quote }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div>
    <h2>Links</h2>

    <ul>
      {% for link in page.links %}
        <li>
          <a href="{{ link.1 }}">{{ link.0 }}</a>
        </li>
      {% endfor %}
    <ul>
  </div>
{% endblock %}
