{% extends 'page' %}

{% block page_title %}
  {% set episodeNumber = page.url|trim('/')|split('/')|last|split('-')|first %}

  Episode {{ episodeNumber }}:
  {{ page.topic }}
  with {{ page.guests.0 }}
{% endblock %}

{% block content_wrapper %}
  {% if page.transistor.id %}
    <div>
      <iframe
        width="100%"
        height="180"
        frameborder="no"
        scrolling="no"
        seamless=""
        src="https://share.transistor.fm/e/{{ page.transistor.id }}">
      </iframe>
    </div>
  {% endif %}

  {{ parent() }}

  <div>
    <h2>Links</h2>

    <ul>
      {% for link in page.links %}
        <li>
          <a href="{{ link.1 }}">{{ link.0 }}</a>
        </li>
      {% endfor %}
    <ul>
  </div>
{% endblock %}
