{% extends 'default' %}

{% block page_title_wrapper %}{% endblock %}

{% block metaTags %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter.name }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:creator" content="@{{ site.twitter.name }}">
<meta name="twitter:image" content="{{ site.url ~ site.avatar.url }}">
<meta name="twitter:description" content="{{ page.excerpt }}">
{% endblock %}

{% block content_wrapper %}
    {% include 'post/header' %}
    {% include 'post/intro-image' %}

    <div class="markdown mb-6">
        {% include 'post/old-post-message' %}
        {% block content %}{% endblock %}
    </div>

    <div class="mb-6">
        {% include 'post/questions-comments' %}
        {% include 'post/tags' %}
    </div>

    {% include 'post/about-author' %}
{% endblock %}

{% block scripts %}
    {% if page.has_tweets %}
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}

    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
