{% extends 'page' %}

{% block page_title %}{% endblock %}

{% block metaTags %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter.name }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:creator" content="@{{ site.twitter.name }}">
<meta name="twitter:image" content="{{ page.meta.image ?: site.url ~ site.avatar.url }}">
{% if page.meta.description %}<meta name="twitter:description" content="{{ page.meta.description }}">{% endif %}
{% endblock %}

{% block content_wrapper %}
    {% include 'post/header' %}
    {% include 'post/intro-image' %}

    <div class="markdown mb-6">
        {% include 'post/old-post-message' %}
        {{ page.summary|markdown }}
        {% block excerpt %}{% endblock %}
        {% block content %}{% endblock %}
    </div>

    {% include 'post/questions-comments' %}
    {% include 'post/tags' %}
    {#
    {% include 'post/pager' %}
    {% include 'post/about-author' %}
    #}
{% endblock %}

{% block scripts %}
    {% if page.has_tweets %}
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}

    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
