{% extends "default.html.twig" %}

{% block body_classes 'page--talks page--talks__talk' %}

{% block content_wrapper %}
    <main class="col-md-10">
        <h1>{{ page.title }}</h1>

        <p>At {{ page.location }} on {{ page.date|date(site.default_date_format) }}.</p>

        {{ page.blocks.content|raw }}

        {% if page.joindin %}
            <p>
                <a href="{{ page.joindin }}" class="btn btn-primary">Rate this talk</a>
            </p>
        {% endif %}

        {% if page.slides_embed %}
            <div class="slides">
                {{ page.slides_embed|raw }}
            </div>
        {% endif %}
    </main>
{% endblock %}
