{% extends 'default.html.twig' %}

{% block content_wrapper %}
    <main class="col-md-9">
        <h1>{{ page.title }}</h1>

        <p>
            At {{ page.event.name }} -
            {% spaceless %}{% if page.fuzzy_date %}
                {{ page.date|date(site.fuzzy_date_format) }}
            {% else %}
                {{ page.date|date(site.default_date_format) }}
            {% endif %}{% endspaceless %}.
        </p>

        {{ page.blocks.content|raw }}

        {% if page.slides.embed %}
            <hr>
            {{ page.slides.embed|raw }}
        {% endif %}

        {% if page.vimeo.id %}
            <iframe src="https://player.vimeo.com/video/{{ page.vimeo.id }}?title=0&portrait=0" width="{{ page.vimeo.width|default(500) }}" height="{{ page.vimeo.height|default(281) }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% endif %}
    </main>
{% endblock content_wrapper %}
