{% extends 'default.html.twig' %}

{% block content_wrapper %}
    <main class="col-md-9">
        <h1>{{ page.title }}</h1>

        {% if page.blocks.abstract %}
            <h2>Abstract</h2>

            {{ page.blocks.abstract|raw }}
        {% endif %}

        <h2>Details</h2>

        <ul>
            <li>Event:
                {% if page.event.website %}
                    <a href="{{ page.event.website }}">{{ page.event.name }}</a>
                {% else %}
                    {{ page.event.name }}
                {% endif %}
            </li>
            <li>Date: {{ page.date|date(site.default_date_format) }}</li>
            <li>Location: {{ page.event.location }}</li>
        </ul>

        {% if page.blocks.slides %}
            <h2>Slides</h2>

            {{ page.blocks.slides|raw }}
        {% endif %}

        {% if page.blocks.video %}
            <h2>Video</h2>

            {{ page.blocks.video|raw }}
        {% endif %}

        {% if page.blocks.feedback %}
            <h2>Feedback</h2>

            {{ page.blocks.feedback|raw }}
        {% endif %}
    </main>
{% endblock %}
