<div>
    <div>
        <h2 class="text-inherit text-lg m-0 leading-snug">
            <a
                href="{{ post.external_url ?: post.url }}"
                class="text-inherit"
                tabindex="-1"
            >
                {{ post.draft ? 'Draft: '|upper }}{{ post.title }}
            </a>
        </h2>

        {% if show_date %}
            {% include 'posts/post-date' with { class: 'mt-1 text-sm block' } %}
        {% endif %}
    </div>

    <div class="mt-2">
        <p>{{ post.excerpt }}</p>
    </div>

    {% if not post.type == 'tweet' %}
        <div class="mt-1">
            <a href="{{ post.url }}" class="text-sm text-gray-600 hover:text-gray-800">
                Read more
                <span class="visuallyhidden">about '{{ post.title }}'</span>
                &rarr;
            </a>
        </div>
    {% endif %}
</div>
