<div class="markup">
    <a href="{{ post.url }}" class="text-black focus:text-white block">
        <h2 class="text-inherit text-2xl mt-0 mb-1">{{ post.draft ? 'Draft: '|upper }}{{ post.title }}</h2>
    </a>

    <p class="text-sm text-grey-dark mb-4">Posted on {{ post.date|date('jS F Y') }}</p>
</div>

{% include 'post/intro-image' with { page: post } %}

<div class="markup mb-4">
    <p>{{ post.excerpt }}</p>
</div>
