<div class="mb-1">
    <h2 class="text-inherit text-lg m-0">
        <a href="{{ post.url }}" class="text-black inline-block">
            {{ post.draft ? 'Draft: '|upper }}{{ post.title }}
        </a>
    </h2>

    {% if show_date %}
        <p class="text-sm text-grey-dark mb-1">Posted on {{ post.date|date('jS F Y') }}</p>
    {% endif %}
</div>

<div>
    <p>{{ post.excerpt }}</p>
</div>
