<div class="spaced-y-2">
    <div class="spaced-y-2px">
        <h2 class="text-inherit text-lg m-0">
            {{ post.draft ? 'Draft: '|upper }}{{ post.title }}
        </h2>

        {% if show_date %}
            {% include 'posts/post-date' with { class: 'text-sm block mb-1' } %}
        {% endif %}
    </div>

    <div>
        <p>{{ post.excerpt }}</p>
    </div>

    <div>
        <a href="{{ post.url }}" class="text-sm text-gray-600 hover:text-gray-800">
            Read more
            <span class="visuallyhidden">about '{{ post.title }}'</span>
            &rarr;
        </a>
    </div>
</div>
