<h2 class="text-2xl mb-1">{{ post.draft ? 'Draft: '|upper }}{{ post.title }}</h2>

<p class="text-sm text-grey-dark mb-4">Posted on {{ post.date|date('jS F Y') }}</p>

{% include 'post/intro-image' with { page: post } %}

<div class="markup mb-4">
    <p>{{ post.excerpt }}</p>
</div>

<a href="{{ post.url }}" class="button">
    Read more
    <span class="visuallyhidden">about {{ post.title }}</span>
</a>
