<article>
    <h2>
        <a class="dark:text-blue-400 text-blue-primary" href="{{ post.url|trim('/', 'right') }}">
            {{ post.title }}
        </a>
    </h2>

    <time class="text-base" datetime="{{ post.date|date('Y-m-d') }}">
        {{ post.date|date('jS F Y') }}
    </time>

    <p class="mt-1">{{ post.excerpt }}</p>
</article>
