{% extends 'default.twig' %}

{% block body_classes 'page--blog page--blog__post' %}

{% block content_wrapper %}
    <main class="col-md-9">
        {% include 'post_header' %}

        {% block content %}{% endblock content %}

        <p class="post-feedback" style="font-style: italic">
            <b>Have feedback about this post?</b> <a href="mailto:{{ site.email }}?subject=Feedback: {{ page.title }}">Email me</a> or <a href="https://twitter.com/home?status=@{{ site.twitter.name }} {{ site.url }}{{ page.url }}:">send me a tweet</a>.
        </p>

        {% if page.related -%}
            <h2>Related Posts</h2>

            <ul>
                {% for relate in page.related -%}
                    <li>
                        <a href="{{ relate.source.url }}">{{ relate.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {%- endif %}

        {% if page.tags %}
            <p class="tags">
                Tags:
                {% for tag in page.tags %}
                    <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        <div class="about-author">
            <h2>About the Author</h2>

            <img src="{{ site.gravatar.url }}?s=50" alt="Picture of Oliver" class="img-circle">

            <p><a href="{{ site.url }}">Oliver Davies</a> is a Drupal Developer and System Administrator based in the UK. He is a Senior Developer at <a href="https://microserve.io">Microserve</a> and also provides freelance consultancy services for Drupal websites and Linux servers.</p>
        </div>

        {% if page.next_post or page.previous_post %}
            <ul>
                {% if page.next_post %}<li>Next post: <a href="{{ page.next_post.url }}">{{ page.next_post.title }}</a></li>{% endif %}
                {% if page.previous_post %}<li>Previous post: <a href="{{ page.previous_post.url }}">{{ page.previous_post.title }}</a></li>{% endif %}
            </ul>
        {% endif %}

    </main>
{% endblock content_wrapper %}
