<nav class="main-menu" role="navigation">
  <ul>
    <li><a href="{{ site.url }}" class="about">About</a></li>
    <li><a href="{{ site.url }}/work" class="work">Work</a></li>
    <li><a href="{{ site.url }}/services" class="services">Services</a></li>
    <li><a href="{{ site.url }}/talks" class="talks">Talks</a></li>
    <li><a href="{{ site.url }}/blog" class="blog">Blog</a></li>
    <li><a href="{{ site.url }}/contact" class="contact">Contact</a></li>
  </ul>
</nav>