{% set separator = '-' %}
{% spaceless %}<title>
  {% if page.full_title %}
    {{ page.full_title }}
  {% elseif page.title %}
    {% if site.title %}
      {{ page.title }} {{ separator }} {{ site.title }}
    {% elseif page.subtitle %}
      {{ page.title }} {{ separator }} {{ site.title }} {{ separator }} {{ site.subtitle }}
    {% endif %}
  {% elseif site.title %}
    {% if site.subtitle %}
      {{ site.title }} {{ separator }} {{ site.subtitle }}
    {% else %}
      {{ site.title }}
    {% endif %}
  {% endif %}
</title>{% endspaceless %}