<div class="meetups">
    <h2>Meetups</h2>
    <ul>
        {% for meetup in site.meetups %}
            <li class="meetup__{{ meetup.name|lower|replace({ ' ': '-' }) }}">
                <a href="{{ meetup.url }}" title="{{ meetup.name }}">
                    <img src="/assets/images/meetups/{{ meetup.logo }}" alt="{{ meetup.name }}">
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
