---
interface ItemProps {
  date: string;
  description?: string;
  excerpt?: string;
  title: string;
}

const { date, description, excerpt, title } = Astro.props.item.item
  .frontmatter as ItemProps;
const { slug } = Astro.props.item;
---

<article>
  <a href={slug} class="mb-2"><h2>{title}</h2></a>

  {
    date && (
      <time class="mt-0 mb-2 block text-base" datetime={date}>
        {new Date(date).toLocaleDateString("en-GB", {
          day: "numeric",
          month: "long",
          year: "numeric",
        })}
      </time>
    )
  }

  {description && <p>{description}</p>}
  {excerpt && <p>{excerpt}</p>}
</article>
