---
import { getCollection } from "astro:content";
import _ from "lodash";

interface Props {
  names: string[];
  title?: string;
  titleClasses?: string[];
}

const defaultNames = [
  "mike-karthauser",
  "tawny-bartlett",
  "joe-howell",
  "jon-hallett",
  "michael-itkoff",
  "mick-felton",
  "duncan-davidson",
  "adam-cuddihy",
  "huw-davies",
  "scott-euser",
  "brian-hartwell",
  "alan-hatch",
  "holly-ross",
  "josh-mitchell",
  "brian-healy",
  "chris-jarvis",
  "daniel-easterbrook",
  "anonymous",
];

const { title, titleClasses } = Astro.props as Props;
const names = _(Astro.props.names || defaultNames);

const testimonials = await getCollection("testimonial", ({ id }) =>
  names.includes(id)
);

const sortedTestimonials = _(names)
  .flatMap((name) =>
    testimonials.filter((testimonial) => testimonial.id === name)
  )
  .value();
---

{
  testimonials && (
    <section>
      <h2 class={titleClasses ? titleClasses.join(" ") : null}>
        {title ?? "What others have said"}
      </h2>

      <div class="mt-8 space-y-10">
        {_(sortedTestimonials).map(
          ({ data: { image, name, tagline, text, url } }) => (
            <article>
              <blockquote class="mt-4" set:html={text} />

              <footer class="flex items-center space-x-4 space-x-reverse">
                <span class="text-base">
                  {url ? (
                    <a href={url}>
                      {name}
                      {tagline && <> - {tagline}</>}
                    </a>
                  ) : (
                    <>
                      {name}
                      {tagline && <> - {tagline}</>}
                    </>
                  )}
                </span>

                {image && (
                  <span class="order-first not-prose">
                    <img
                      alt={`Photo of ${name}`}
                      class="rounded-full border"
                      height="50px"
                      src={`/images/recommendations/${image}`}
                      width="50px"
                    />
                  </span>
                )}
              </footer>
            </article>
          )
        )}
      </div>
    </section>
  )
}
