<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.meta.description %}
      <meta name="description" content="{{ page.meta.description|e('html') }}">
    {% endif %}
    <link rel="author" href="{{ site.url }}/humans.txt" />
    <title>{% if (page.front == true) and (site.subtitle) %}{{ site.subtitle }}{% else %}{{ page.title }}{% endif %} | {{ site.title }}</title>
    
    <link rel="stylesheet" href="{{ site.url }}/{{ theme_path('assets/css/styles.css') }}">
    {% block styles %}{% endblock %}
  </head>
  <body{% if page.nav %} class="{{ page.nav }}"{% endif %}>
    {% include 'navbar' %}

    <div class="container">
      <div class="row">

        {% block content_wrapper %}
          <div class="col-md-9">
            {% block content %}{% endblock %}
          </div>
        {% endblock %}

        {% block sidebar %}
          <div class="col-md-3">
            {% include 'latest-posts' %}
          </div>
        {% endblock %}

      </div>{# .row #}
    </div>{# .container #}

    <footer class="container" role="contentinfo">
      <p class="copyright">&copy; 2010&ndash;{{ 'now'|date('Y') }} {{ site.title }}</p>
    </footer>

    {% include 'footer-scripts' %}
  </body>
</html>