---
import _ from "lodash";
import Markdown from "~/components/Markdown.astro";
import MarkdownIt from "markdown-it";
import PageLayout from "~/layouts/PageLayout.astro";
import sanitizeHtml from "sanitize-html";
import type { Episode } from "~/types";
import { format } from "date-fns";
import { getCollection } from "astro:content";

let episodes: Episode[];
episodes = await getCollection("podcast-episode");

const filteredEpisodes = _(episodes).filter(episode => !episode.data.draft ?? false);
const sortedEpisodes = _(filteredEpisodes).reverse();

const parser = new MarkdownIt();

const feedUrl = "https://feeds.transistor.fm/beyond-blocks";
---

<PageLayout title="The Beyond Blocks podcast">
  <p>A weekly podcast about Drupal, open-source, and related software development topics.</p>
  <p>Subscribe at <a href={feedUrl}>{feedUrl}</a>.</p>

  {filteredEpisodes && (
    <>
      <h2>Episodes</h2>

      {sortedEpisodes.map((episode: Episode) => (
        <article>
          <h3>Episode {episode.id.match(/^[\d+]/)} - {`${episode.data.topic} with ${episode.data.guests}`}</h3>
          
          <time datetime={format(episode.data.date, 'Y-MM-dd')}>
            {format(episode.data.date, 'PPP')}
          </time>

          <Markdown set:html={sanitizeHtml(parser.render(episode.body))} />

          <footer class="mt-4">
            <a href={`/podcast/${episode.slug}`}>Listen now &rarr;</a>
          </footer>
        </article>
      ))}
    </>
  )}
</PageLayout>
