<div class="md:flex md:flex-wrap md:-mx-2">
    {% for project in projects %}
        <div class="md:w-1/2 md:px-2 mb-4 flex">
            <div class="border p-3 w-full flex flex-col {{ project.versions ? 'justify-between' }}">
                <h3>
                    <a href="{{ project.url }}" class="text-black no-underline hover:underline focus:underline">
                        {{ project.name }}
                    </a>
                </h3>

                <div class="markup flex-1">
                    {{ project.description }}
                </div>

                {% if project.versions %}
                    <div class="mt-4 text-right">
                        {% for version in project.versions %}
                            <span class="text-xs ml-1 px-1 py-1 bg-gray-300 text-gray-600 rounded">{% spaceless %}
                                Drupal {{ version }}
                            {% endspaceless %}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
