<div class="meetups">
    <h2>Things that I organise</h2>
    <ul>
        {% for meetup in site.meetups %}
            <li class="meetups--{{ meetup.name|lower|replace({ ' ': '-' }) }}">
                <a href="{{ meetup.url }}" title="{{ meetup.name }}">
                    <img
                        src="{{ site.images_url }}/assets/images/meetups/{{ meetup.logo }}"
                        alt="{{ meetup.name }} logo"
                    >
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
