<nav class="navbar">
    <div class="container">
  <div id="navMenuExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item {{ page.url == '/.' ? 'is-active' }}" href="/">{% spaceless %}
        About
      {% endspaceless %}</a>

      <a class="navbar-item {{ page.url == '/experience' ? 'is-active' }}" href="/experience">{% spaceless %}
        Experience
      {% endspaceless %}</a>

      <a class="navbar-item {{ page.url == '/testimonials' ? 'is-active' }}" href="/testimonials">{% spaceless %}
        Testimonials
      {% endspaceless %}</a>

      <a class="navbar-item {{ page.url == '/talks' or '/talks/' in page.url }}" href="/talks">{% spaceless %}
        Talks
      {% endspaceless %}</a>

      <a class="navbar-item {{ page.url == '/blog' or '/blog/' in page.url }}" href="/blog">{% spaceless %}
        Blog
      {% endspaceless %}</a>

      <a class="navbar-item {{ page.url == '/contact' or '/contact/' in page.url }}" href="/contact">{% spaceless %}
        Contact
      {% endspaceless %}</a>
    </div>
  </div>
  </div>
</nav>
