<nav class="nav has-shadow" id="top">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <div class="nav-item">{{ site.title }}</div>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <a class="nav-item is-tab {{ page.url == '/.' ? 'is-active' }}" href="/">
          About
        </a>

        <a class="nav-item is-tab {{ page.url == '/experience' ? 'is-active' }}" href="/experience">
          Experience
        </a>

        <a class="nav-item is-tab {{ page.url == '/testimonials' ? 'is-active' }}" href="/testimonials">
          Testimonials
        </a>

        <a class="nav-item is-tab {{ page.url == '/talks' or '/talks/' in page.url ? 'is-active' }}" href="/talks">
          Talks
        </a>

        <a class="nav-item is-tab {{ page.url == '/blog' or '/blog/' in page.url ? 'is-active' }}" href="/blog">
          Blog
        </a>

        <a class="nav-item is-tab {{ page.url == '/contact' or '/contact/' in page.url ? 'is-active' }}" href="/contact">
          Contact
        </a>
    </div>
  </div>
</nav>
