<nav class="navbar">
    <div class="container">
      <div id="navMenuExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item {{ page.url == '/.' ? 'is-active' }}" href="/">
            About
          </a>

          <a class="navbar-item {{ page.url == '/experience' ? 'is-active' }}" href="/experience">
            Experience
          </a>

          <a class="navbar-item {{ page.url == '/testimonials' ? 'is-active' }}" href="/testimonials">
            Testimonials
          </a>

          <a class="navbar-item {{ page.url == '/talks' or '/talks/' in page.url }}" href="/talks">
            Talks
          </a>

          <a class="navbar-item {{ page.url == '/blog' or '/blog/' in page.url }}" href="/blog">
            Blog
          </a>

          <a class="navbar-item {{ page.url == '/contact' or '/contact/' in page.url }}" href="/contact">
            Contact
          </a>
        </div>
      </div>
  </div>
</nav>
