<div class="navbar border-bottom border-b border-grey-lighter mb-6">
    <header class="container mx-auto px-4">
        <div class="sm:flex">
            <div class="w-full sm:w-1/3 lg:w-1/4 flex items-center">
                <div class="w-3/4 py-5">
                    <a href="/" title="Home">
                        {{ site.title }}
                    </a>
                </div>

                <div class="w-1/4 text-right sm:hidden">
                    <button type="button" class="nav-toggle appearance-none">
                        <svg class="fill-current text-grey-dark w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16.4 9H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zm0 4H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zM3.6 7h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1z"/></svg>
                    </button>
                </div>
            </div>

            <nav class="nav hidden sm:flex">
                <a href="/" class="nav-item {{ page.url == '/.' ? 'nav-item--active' }}">About</a>
                <a href="/experience" class="nav-item {{ page.url matches '#^/experience/?#' ? 'nav-item--active' }}">Experience</a>
                <a href="/talks" class="nav-item {{ page.url matches '#^/talks/?#' ? 'nav-item--active' }}">Talks</a>
                <a href="/opensource" class="nav-item {{ page.url matches '#^/opensource/?#' ? 'nav-item--active' }}">Open Source</a>
                <a href="/blog" class="nav-item {{ page.url matches '#^/blog/?#' ? 'nav-item--active' }}">Blog</a>
                <a href="/contact" class="nav-item {{ page.url matches '#^/contact/?#' ? 'nav-item--active' }}">Contact</a>
            </nav>
        </div>
    </header>
</div>
