<tr>
    <td class="whitespace-no-wrap">
        {{ row.event.date|date(row.event.fuzzy_date ? 'F Y' : 'j F Y') }}

        {% if row.event.time is defined %}
            <div class="text-xs text-grey-dark">
                {{ row.event.time }}
            </div>
        {% endif %}
    </td>

    {% if not talk_page %}
        <td class="whitespace-no-wrap">
            {% if row.talk.url is not empty %}
                <a href="{{ row.talk.url }}">
                    {{ row.talk.title }}
                </a>
            {% else %}
                {{  row.talk.title }}
            {% endif %}

            <div class="text-xs text-grey-dark">
                {% if row.talk.type %}
                    {{ row.talk.type }}
                {% else %}
                    {{ row.event.type|default('Talk') }}
                {% endif %}
            </div>
        </td>
    {% endif %}

    <td class="whitespace-no-wrap">
        {% if row.event.website is not empty %}
            <a href="{{ row.event.website }}">
                {{ row.event.name }}
            </a>
        {% else %}
            {{ row.event.name }}
        {% endif %}

        {% if row.event.location is defined %}
            <div class="text-xs text-grey-dark">
                {{ row.event.location }}
            </div>
        {% endif %}
    </td>

    {% if not upcoming %}
        <td class="whitespace-no-wrap">
            {% if row.event.feedback and row.event.date <= today %}
                <a href="{{ row.event.feedback }}"
                   class="button"
                   title="Read or leave feedback for this talk">
                    <i class="fa fa-comment-o"></i> joind.in
                </a>
            {% endif %}
        </td>
    {% endif %}
</tr>
