<div class="w-100 overflow-x-auto overflow-y-hidden">
    <table class="w-100 ba b--moon-gray">
        <thead>
            <tr class="striped--light-gray">
                <th class="w-20-l pa2 tl">Date</th>

                {% if not talk_page %}
                    <th class="w-40-l pa2 tl">Talk</th>
                {% endif %}

                <th class="pa2 tl">Event</th>

                {% if not upcoming %}
                    <th class="w4 pa2 tl">Feedback</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in events %}
                <tr>
                    <td class="pa2">
                        {{ row.date.date }}

                        {% if row.date.time is defined %}
                            <small class="db black-50">
                                {{ row.date.time }}
                            </small>
                        {% endif %}
                    </td>

                    {% if not talk_page %}
                        <td class="pa2">
                            {% if row.date.talk.title is not defined %}
                                {% for talk in data.talks if talk.id ends with '/' ~ row.date.talk ~ '.md' %}
                                    <a href="{{ talk.url }}">
                                        {{ talk.title }}
                                    </a>
                                {% endfor %}
                            {% else %}
                                {{ row.date.talk.title }}
                            {% endif %}
                        </td>
                    {% endif %}

                    <td class="pa2">
                        {{ row.event.name }}

                        {% if row.event.location is defined %}
                            <small class="db black-50">
                                {{ row.event.location }}
                            </small>
                        {% endif %}
                    </td>

                    <td class="pa2">
                        feedback
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
