<div class="table-responsive">
    <table class="talks-table table is-striped">
        <thead>
            <tr>
                <th style="width: 20%">Date</th>

                {% if not talk_page %}
                    <th style="width: 40%">Talk</th>
                {% endif %}

                <th>Event</th>

                {% if not upcoming %}
                    <th style="width: 10%">Feedback</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in events %}
                {% set talk = false %}
                {% set key = row.date.talk.id ?: row.date.talk %}

                {% for item in row.talks if key == item.filename|split('.')|first %}
                    {% set talk = item %}
                {% endfor %}
                <tr>
                    <td class="vertical-middle">
                        {{ row.date.date|date(row.date.fuzzy_date ? 'F Y' : 'j F Y') }}

                        {% if row.date.time %}
                            <small class="is-block">{{ row.date.time }}</small>
                        {% endif %}
                    </td>

                    {% if not talk_page %}
                        <td>
                            {% if row.date.talk.title is defined %}
                               {{ row.date.talk.title }}
                            {% else %}
                                <a href="{{ talk.url }}">{{ talk.title }}</a>
                            {% endif %}

                            <small class="is-block">
                                {{ row.date.talk.type ?: talk.type }}
                            </small>
                        </td>
                    {% endif %}

                    <td class="vertical-middle">
                        {% if row.event.website %}
                            <a href="{{ row.event.website }}">
                                {{ row.event.name }}
                            </a>
                        {% else %}
                            {{ row.event.name }}
                        {% endif %}

                        <small class="is-block">
                            {{ row.event.location }}
                        </small>
                    </td>

                    {% if not upcoming %}
                        <td class="vertical-middle">
                            {% if row.date.feedback %}
                                <a
                                    href="{{ row.date.feedback }}"
                                    class="button is-primary"
                                    title="Read or leave feedback for this talk"
                                >
                                   <!--  <span class="icon is-small">
                                        <i class="fa fa-comment-o" style="margin-right: 8px"></i>
                                    </span> -->
                                    joind.in
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
