<div>
    <h2 class="mb-2">About the Author</h2>

    <div class="flex items-center">
        <div class="mr-4 flex-none leading-none">
            <img src="{{ site.avatar.url }}" alt="Picture of Oliver" class="w-16 rounded-full border border-gray">
        </div>

        <p class="markup mb-0">
            Oliver Davies is a Full Stack Web Developer and System Administrator based in the UK.
            He is a {{ site.work.role }} at <a href="{{ site.companies[site.work.company].url }}?utm_source={{ site.short_url }}&amp;utm_medium=about-author" class="link">{{ site.companies[site.work.company].name }}</a> and a part-time freelancer specialising in Drupal, Symfony and Laravel development and Linux systems administration.
        </p>
    </div>
</div>
