<article>
    <h2>
        <a class="text-blue-primary dark:text-blue-400" href="{{ post.url }}">
            {{ post.title }}
        </a>
    </h2>

    <time class="text-base" datetime="{{ post.date|date('Y-m-d') }}">
        {{ post.date|date('jS F Y') }}
    </time>

    <p class="mt-1">{{ post.excerpt }}</p>
</article>
