---
layout: default
title: Experience
nav: experience
experiences:
    - company: freelance
      location: Remote
      role: 'PHP Developer & Linux System Administrator'
      start: 2007
      end: ~
      description: |
          <p>Working on Drupal and Symfony development, maintenance and support projects in my spare time.</p>
          <p>Administration of Debian, Ubuntu and CentOS servers, and configuration using Puppet, or more recently, Ansible.</p>

    - company: cti
      role: Lead Drupal Developer
      location: Remote
      start: November 2015
      end: May 2016
      description: |
          <p>Working on various Drupal 7 projects for clients including Greater London Authority (http://www.london.gov.uk), British Land and British Council, as well as various retainer contracts.</p>
          <p>Working on internal Drupal 8 learning initiatives, focussing on custom module development and data migration.</p>
          <p>Initial development of a CLI application for generating new and auditing existing codebases to ensure consistency across projects. This uses various Symfony components - mainly the Console and Filesystem components.</p>

    - company: microserve
      location: Bristol, England
      role: Senior Drupal Developer
      start: July 2015
      end: November 2015
      description: |
          <p>Full-stack Drupal development, focussing on data migration.</p>
          <p>Lead Developer of the <a href="http://road.cc">road.cc</a> rebuild project onto Drupal 7, including working with non-Drupal PHP applications and utilising of Symfony components, and interacting with Drupal via REST.</p>
          <p>Community and contribution advocate.</p>

    - company: drupal_association
      role: Drupal.org Developer
      location: Remote
      start: 2014
      end: July 2015
      description: |
          <p>Maintaining and improving Drupal.org - the home of the Drupal community.</p>
          <p>Speaking at user groups and DrupalCamps to promote the Drupal Association.</p>

    - company: precedent
      location: Cardiff, Wales
      role: Senior Drupal Developer
      start: 2013
      end: 2014
      description: |
          <p>Drupal 7 website development, including site building, theming, module development, data migration and server configuration.</p>

    - company: nomensa
      location: Bristol, England
      role: 'Contract Drupal Developer / Application Developer & System Administrator'
      start: 2012
      end: 2013
      description: |
          <p>Drupal 7 website development and Linux server administration.</p>
          <p>I originally started as a contractor, and later took a staff role.</p>

    - company: proctors
      location: Bristol, England
      role: 'PHP Developer'
      start: 2011
      end: 2012
      description: |
          <p>Website development, mainly with Drupal and PHP, including the agency’s first Drupal 7 project.</p>

    - company: horse_country
      location: Cwmbran, Wales
      role: Web Developer
      start: 2010
      end: 2011
      description: |
          <p>Maintaining and adding new features to the Horse & Country TV website (Drupal 6).</p>
---
<h1>Experience</h1>

{% for experience in page.experiences %}
  {% set company = site.companies[experience.company] %}

  <div class="experience {{ company.logo ? 'experience--with-logo' : 'experience--no-logo' }}">
      <h2 class="experience__title">{{ company.title }}</h2>

      {% if company.website %}
          <a href="{{ company.website }}" class="experience__website">{{ company.website }}</a>
      {% endif %}

      {% if company.logo %}
          <img class="experience__logo" src="{{ site.images_url }}/assets/images/experience/{{ company.logo }}" alt="{{ company.title }} logo">
      {% endif %}

      <div class="experience__role">
          {% spaceless %}
              {{ experience.role ~ ' from ' ~ experience.start ~ ' to ' ~ experience.end|default('Present') }}
              {% if experience.location %}
                  ({{ experience.location }})
              {% endif %}
          {% endspaceless %}.
      </div>

      <div class="experience__description">
          {{ experience.description|raw }}
      </div>
  </div>
{% endfor %}
