---
layout: default
title: Experience
use: [posts]
redirect:
    - services/
    - work/
---
{% block content %}
    <h1>Experience</h1>

    {% for experience in site.experiences|reverse %}
        {% set company = site.companies[experience.company] %}

        <div class="experience-item{% if company.logo %} has-logo{% endif %}">
            {% if company.logo %}
                <div class="experience-item-logo">
                    <img src="{{ site.images_url }}/assets/images/experience/{{ company.logo }}" alt="{{ company.name }} logo">
                </div>
            {% endif %}

            <div class="experience-item-inner">
                <h2>{{ company.name }}</h2>

                {% if company.url -%}
                    <a class="experience-item-website display-inline-block" href="{{ company.url }}">
                        {{- company.url -}}
                    </a>
                {%- endif %}

                <div class="experience-item-role text-light">
                    {{- experience.role }}
                    from
                    {{ experience.start }}
                    to
                    {{ experience.end|default('Present') -}}
                    {%- if experience.location %} ({{ experience.location }}){% endif %}.
                </div>

                {% if experience.description %}
                    <div class="experience-item-description">
                        {{ experience.description|markdown }}
                    </div>
                {% endif %}

            </div>{# /.inner #}
        </div>
    {% endfor %}
{% endblock %}
