---
layout: default
title: Experience
nav: experience
experiences:
    - name: CTI Digital
      website: https://www.ctidigital.com
      logo: cti-digital.png
      role: Lead Drupal Developer
      location: Remote
      start: November 2015
      end: ~

    - name: Freelance
      location: Remote
      role: 'Drupal/PHP Developer & System Administrator'
      start: 2007
      end: ~
      description: >
          <p>Working on Drupal and PHP projects in my spare time.</p>
          <p>Linux server administration and configuration using Puppet, and more recently, Ansible.</p>

    - name: Microserve
      website: https://microserve.io
      location: Bristol, England
      logo: microserve.png
      role: Senior Drupal Developer
      start: July 2015
      end: November 2015
      description: >
          <p>Full-stack Drupal development, focussing on data migration.</p>
          <p>Community and contribution advocate.</p>

    - name: Drupal Association
      website: https://assoc.drupal.org
      logo: drupal-association.png
      role: Drupal.org Developer
      location: Remote
      start: 2014
      end: July 2015
      description: >
          <p>Maintaining and improving Drupal.org - the home of the Drupal community.</p>
          <p>Speaking at user groups and DrupalCamps to promote the Drupal Association.</p>

    - name: Precedent
      website: http://precedent.com
      location: Cardiff, Wales
      logo: precedent.jpg
      role: Senior Drupal Developer
      start: 2013
      end: 2014
      description: >
          <p>Drupal 7 website development, including site building, theming, module development, data migration and server configuration.</p>

    - name: Nomensa
      website: http://www.nomensa.com
      location: Bristol, England
      logo: nomensa.png
      role: 'Contract Drupal Developer / Application Developer & System Administrator'
      start: 2012
      end: 2013
      description: >
          <p>Drupal 7 website development and Linux server administration.</p>
          <p>I originally started as a contractor, and later took a staff role.</p>

    - name: 'Proctor & Stevenson'
      website: http://www.proctors.co.uk
      location: Bristol, England
      logo: proctors.jpg
      role: 'PHP Developer'
      start: 2011
      end: 2012
      description: >
          <p>Website development, mainly with Drupal and PHP, including the agency’s first Drupal 7 project.</p>

    - name: 'Horse & Country TV'
      website: http://www.horseandcountry.tv
      location: Cwmbran, Wales
      logo: horse-and-country.jpg
      role: Web Developer
      start: 2010
      end: 2011
      description: >
          <p>Maintaining and adding new features to the Horse & Country TV website (Drupal 6).</p>
---
<h1>Experience</h1>

{% for experiences in page.experiences|batch(2) %}
    <div class="row">
        {% for experience in experiences %}
            <div class="experience col-md-6">
                <h2>{{ experience.name }}</h2>

                {% if experience.logo %}
                    <img class="experience--logo" src="/assets/images/experience/{{ experience.logo }}" alt="{{ experience.name }} logo">
                {% endif %}

                {% if experience.website %}
                    <div>
                        <a href="{{ experience.website }}">
                            {{ experience.website }}
                        </a>
                    </div>
                {% endif %}

                <div class="role-wrapper">
                    {% spaceless %}
                        {{ experience.role ~ ' from ' ~ experience.start ~ ' to ' ~ experience.end|default('Present') }}
                        {% if experience.location %}
                            ({{ experience.location }})
                        {% endif %}
                    {% endspaceless %}.
                </div>

                {{ experience.description|raw }}
            </div>
        {% endfor %}
    </div>
{% endfor %}
