---
layout: default
title: Podcasts
episodes:
    - title: 'Episode #175 - Automated Testing'
      description: I joined the Talking Drupal team to discuss automated testing.
      event: talking_drupal
      date: 2018-09-05
      url: http://talkingdrupal.com/175
---
<!-- <header class="mb-6">
    <p class="text-lg">
        I’m an occasional guest on podcasts such as Talking Drupal.
    </p>
</header> -->

<div>
    {% for episode in page.episodes|reverse %}
        {% set podcast = site.events[episode.event] %}

        <article>
            <h2>{{ podcast.name }}: {{ episode.title }}</h2>

            <time class="text-grey-darker block mt-px mb-2" datetime="{{ episode.date|date('Y-m-d') }}">
                {{ episode.date|date('jS F Y') }}
            </time>

            <p>{{ episode.description }}</p>

            <a href="{{ episode.url }}" class="inline-block mt-2 text-sm text-grey-dark hover:text-grey-darker focus:text-grey-darker">
                {{ episode.video ? 'Watch' : 'Listen to' }} this
                <span class="visuallyhidden">{{ podcast.name }}</span>
                episode &rarr;
            </a>
        </article>
    {% endfor %}
</div>
