---
layout: default
title: Podcasts
podcasts:
    howtocodewell:
        name: How to Code Well
    talking_drupal:
        name: Talking Drupal
episodes:
    - title: 'Episode #175 - Automated Testing'
      description: I joined the Talking Drupal team to discuss automated testing.
      podcast: talking_drupal
      date: 2018-09-05
      url: http://talkingdrupal.com/175

    - title: 'Episode #204 - A Few Things'
      description: I joined the Talking Drupal team again, where we discussed Drupal updates, conferences and more.
      podcast: talking_drupal
      date: 2019-03-25
      url: http://talkingdrupal.com/204

    - title: Drupal 7 vs Drupal 8
      description: Talking about Drupal, Drupal 7 vs Drupal 8, module development, testing and more.
      podcast: howtocodewell
      date: 2019-03-08
      url: ~
---
<!-- <header class="mb-6">
    <p class="text-lg">
        I’m an occasional guest on podcasts such as Talking Drupal.
    </p>
</header> -->

<div class="spaced-y-10">
    {% for episode in page.episodes|reverse %}
        {% set podcast = page.podcasts[episode.podcast] %}

        <article>
            <h2 class="text-lg">
                <a href="{{ episode.url }}" class="text-inherit" tabindex="-1">
                    {{ podcast.name }}: {{ episode.title }}
                </a>
            </h2>

            <time class="text-sm text-gray-800 block mt-px mb-2" datetime="{{ episode.date|date('Y-m-d') }}">
                {{ episode.date|date('jS F Y') }}
            </time>

            <p>{{ episode.description }}</p>

            <a href="{{ episode.url }}" class="inline-block mt-2 text-sm text-gray-600 hover:text-gray-800 focus:text-gray-800">
                {{ episode.video ? 'Watch' : 'Listen to' }} this
                <span class="visuallyhidden">{{ podcast.name }}</span>
                episode &rarr;
            </a>
        </article>
    {% endfor %}
</div>
