---
layout: page
title: Talks
meta:
    description: 'Information about previous and upcoming talks that Oliver has presented at conferences and user groups'
use: [talks]
---
{% block content %}
    {% for talk in data.talks %}
        <div class="flex flex-row-reverse -mx-2 mb-12">
            <div class="flex-1 mx-2">
                <h2>
                    <a href="{{ talk.url }}">
                        {{ talk.title }}
                    </a>
                </h2>

                <div>
                    {{ talk.summary|markdown }}
                </div>
            </div>

            {% if talk.image %}
                <div class="w-1/4 mx-2">
                    <img
                        src="/assets/images/talks/{{ talk.image }}"
                        alt="{{ talk.title }}"
                        class="border border-solid p-1 bg-white"
                    >
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
