---
layout: default
title: Talks
meta:
  description: 'Information about previous and upcoming talks that Oliver has presented at conferences and user groups'
use: [talks]
talks:
  - title: 'Drupal and the LDAP module'
    excerpt: A review and demonstration of some of the recent single sign-on work that I did using Drupal’s LDAP module.
    events:
<<<<<<< HEAD
      - event: swdug
        date: 2013-07-10
=======
        - event: swdug
          date: '2013-07-10'
>>>>>>> Spaces

  - title: 'About the Drupal Association'
    excerpt: An impromptu talk about what the Drupal Association is, and what work I’ve been doing since I joined the Association staff.
    events:
      - event: swdug
        date: 2014-08-19

  - title: 'Automated testing with Drupal 8 and PHPUnit'
    excerpt: A workshop that I gave to teach others about automated testing in Drupal 8.
    type: Workshop
    events:
      - event: drupal_bristol
        date: 2018-06-27

  - title: 'Episode #175 - Automated Testing'
    excerpt: I joined the Talking Drupal team to discuss automated testing.
    type: Podcast
    url: http://talkingdrupal.com/175
    events:
      - event: talking_drupal
        date: 2018-09-05
---
{% block content %}
    <div class="spaced-y-10">
        <div>
            <h2 class="font-extrabold mb-4">Upcoming Talks</h2>

            <div class="spaced-y-12">
                {% for talk in getUpcomingTalks(page.talks|merge(data.talks)) %}
                    <div>
                        <h3 class="text-lg text-black mb-1">
                            {% if talk.url %}
                                <a class="text-inherit" href="{{ talk.url }}">{{ talk.title }}</a>
                            {% else %}
                                {{ talk.title }}
                            {% endif %}
                        </h3>

                        <div class="text-sm text-grey-darkest">
                            <p>{{ talk.excerpt }}</p>
                        </div>
                    </div>
                {% else %}
                    <p>sdf</p>
                {% endfor %}
            </div>
        </div>

        <div>
            <h2 class="font-extrabold mb-4">Previous Talks</h2>

            <div class="spaced-y-12">
                {% for talk in getPastTalks(page.talks|merge(data.talks))|reverse %}
                    <div>
                        <h3 class="text-lg text-black mb-1">
                            {% if talk.url %}
                                <a class="text-inherit" href="{{ talk.url }}">{{ talk.title }}</a>
                            {% else %}
                                {{ talk.title }}
                            {% endif %}
                        </h3>

                        <div class="text-sm text-grey-darkest">
                            <p>{{ talk.excerpt }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
