---
layout: default
nav: testimonials
title: Testimonials
testimonials:
    - name: Ed Welsby
      image: ed-welsby.png
      role: Senior Developer
      company:
        name: Proctor & Stevenson
        url: http://www.proctors.co.uk
      text: >
          <p>Oliver was great to work with, he has a solid knowledge of the various aspects of web development and never
          minded helping me out with Linux commands!</p>

    - name: Brian Healy
      image: brian-healy.png
      role: Director of Business Development
      company:
        name: Tincan
        url: http://tincan.co.uk
      text: >
          <p>Oliver was fantastic to work with - pro-active and highly responsive, he worked well remotely and as part
          of a project team. His understanding of the project requirement(s) and ability to translate it into working
          code was essential and he delivered.</p>

    - name: Marlon Duncanson
      company:
        name: Hypergroup Limited
        url: http://www.hypergroup.com
      text: >
          <p>Oliver is a great guy and really easy to work with. He really goes the extra mile to make sure the project
          is done properly. I would recommend him and will not hesitate to use him again in future.</p>
      draft: yes

    - name: Brian Hartwell
      text: >
          <p>Oliver was great to work with. He has expert knowledge with Drupal and delivered exactly what we were
          looking for on time. He's understanding, friendly and easy to get along with. I would enjoy working with him
          again in the future.</p>
      draft: yes

    - name: Daniel Easterbrook
      text: >
          <p>Oliver is seasoned Drupal and all round highly skilled and experienced web developer. I have worked with
          Oliver on an important project where he was reliable, prompt and ensured strict client deadline delivery and
          confidentiality at all times.</p>
      draft: yes

    - name: James Chapman
      role: Director
      company:
        name: Development Done Right
        url: http://www.developmentdoneright.co.uk
      image: james-chapman.png
      text: >
          <p>We used Oliver on a number of occasions throughout 2012 and I have to say we've been delighted with his
          work. His skills working with Drupal are excellent particularly with custom module development and we wouldn’t
          hesitate to recommend him others.</p>

    - name: Léonie Watson
      role: Director of Accessibility
      company:
        name: Nomensa
        url: http://www.nomensa.com
      image: leonie-watson.jpg
      text: >
          <p>Oliver is a flexible and hardworking developer, with a terrific knowledge of Drupal. He promotes
          accessibility best practice within the Drupal community, and is always happy to share his knowledge with other
          people.</p>

    - name: Holly Ross
      role: Executive Director
      company:
        name: Drupal Association
        url: https://assoc.drupal.org
      image: holly-ross.png
      text: >
          <p>Oliver has been an outstanding contributor to the Drupal Association team. He is a talented developer who
          writes great code and applies his curiosity and love of learning to every project. He is also a fantastic team
          member, who gives to the team as much as he gets.</p>
          <p>Oliver is the embodiment of everything good about the Drupal community.</p>

    - name: Josh Mitchell
      role: CTO
      company:
        name: Drupal Association
        url: https://assoc.drupal.org
      image: josh-mitchell.png
      text: >
          <p>Oliver is a skilled Drupal developer with a passion for the Drupal community. As his direct supervisor, I
          was able to watch Oliver grow with the Drupal Association and contribute an amazing amount of effort and
          integrity to all of his work.</p>
          <p>Everything we have thrown at Oliver, he has approached with an open and flexible mind that has allowed him
          to work on a wide range of projects and features for Drupal products.</p>
---
{% block content %}
    <h1>Testimonials</h1>
    <p>Here are some examples of the nice things that clients and former colleagues have said.</p>
    <p>You can view more recommendations on my <a href="{{ site.linkedin.url }}">LinkedIn profile</a>.</p>

    {% for testimonial in page.testimonials|reverse if not testimonial.draft %}
        {% set company = testimonial.company %}

        <article class="testimonial">
            <h2 class="testimonial__name">{{ testimonial.name }}</h2>

            {% if testimonial.image %}
                <img class="testimonial__image" src="{{ site.url }}/images/testimonials/{{ testimonial.image }}" alt="{{ testimonial.name }}"/>
            {% endif %}

            {% if testimonial.role and not company.name %}
                <p class="lead">
                    {{ testimonial.role }}
                </p>
            {% elseif testimonial.role and company.name %}{% spaceless %}
                <p class="lead">
                    {{ testimonial.role }} at
                    {% if company.url %}
                        <a href="{{ company.url }}" title="{{ company.name }}">{{ company.name }}</a>
                    {% else %}
                        {{ company.name }}
                    {% endif %}
                </p>
            {% endspaceless %}{% endif %}

            {{ testimonial.text|raw }}
        </article>
    {% endfor %}
{% endblock %}

{% block body_classes 'page--testimonials' %}
