---
layout: page
title: Testimonials
use: [posts]
---
{% block content %}
    {% for testimonial in site.testimonials|reverse %}
        <article class="is-clearfix mb-3">
            <h2 class="is-marginless">{{ testimonial.name }}</h2>

            {% if testimonial.image %}
                <img
                    src="{{ site.url }}/assets/images/testimonials/{{ testimonial.image }}"
                    class="testimonial-image is-pulled-right is-circle ml-2 mb-1"
                    alt="{{ testimonial.name }}"
                >
            {% endif %}

            {% if testimonial.role %}
                <div class="text-light">
                    {{ testimonial.role|markdown }}
                </div>
            {% endif %}

            <div class="mt-1">
                {{ testimonial.text|markdown }}
            </div>
        </article>
    {% endfor %}
{% endblock %}

{% block body_classes 'page--testimonials' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ site.url }}/assets/css/testimonials.css">
{% endblock %}
