---
layout: page
title: Testimonials
use: [posts]
---
{% block content %}
    {% for testimonial in site.testimonials|reverse %}
        <article class="testimonial mb-3">
            <h2 class="testimonial__name is-marginless">{{ testimonial.name }}</h2>

            {% if testimonial.image %}
                <img
                    class="testimonial__image is-pulled-right is-circle"
                    src="{{ site.url }}/assets/images/testimonials/{{ testimonial.image }}"
                    alt="{{ testimonial.name }}"
                />
            {% endif %}

            {% if testimonial.role %}
                <div class="testimonial__role text-light">
                    {{ testimonial.role|markdown }}
                </div>
            {% endif %}

            <div class="mt-1">
                {{ testimonial.text|markdown }}
            </div>
        </article>
    {% endfor %}
{% endblock %}

{% block body_classes 'page--testimonials' %}
