{% set classes = [
    'experience-item',
    'is-flex',
    company.logo ? 'has-logo',
] %}

<div class="{{ classes|join(' ')|trim }}">
    <div class="experience-item-inner">
        <h2>{{ company.name }}</h2>

        {{ include('experience/website') }}
        {{ include('experience/role') }}
        {{ include('experience/description') }}
    </div>{# /.inner #}

    {{ include('experience/logo') }}
</div>
