---
title: Software Development Team Coaching
price: 10000
form_url: https://forms.gle/zd3Lnwe2J1sF13qJ7
faqs:
  -
    - Do you only work with Drupal development teams?
    - No. While most of my background and experience is with PHP and Drupal, many things I can help with aren't specific to any language or framework.
  -
    - I have another question.
    - No problem! Send me an email at <a href="mailto:oliver@oliverdavies.uk">oliver@oliverdavies.uk</a>.
meta:
  description: |-
    Upskill your development team with coaching by an Acquia-certified Drupal Triple Expert, core contributor and multiple-time DrupalCon speaker.
---

{% block content %}
  {% import 'macros' as macros %}

  <div class="space-y-16">
    <div>
      {# Pain #}
      <p>Do you need an experienced Software Developer or Drupal expert to upskill your in-house team? Are they new to Drupal or want to make better use of best practices, such as automated testing and test-driven development?</p>
      <p>Do you want to gain exposure by contributing to open-source software, like Drupal, but don't know where to start?</p>

      {# Dream #}

      {# Fix #}
      <p>I offer team coaching on an ongoing monthly basis for a fixed price. You can sign up for as long as you need and cancel at any time.</p>

      {# 1st call to action #}
      <div class="mt-8">
        {% include 'button.html.twig' with {
          position: 'centre',
          text: 'Apply now &rarr;',
          url: page.form_url,
        } %}
      </div>
    </div>

    <section>
      <h2 class="text-lg font-bold">What is included?</h2>

      <ul>
        <li>Unlimited, 24/7 access to me via email or Slack, with responses within one business day.</li>
        <li>Regular 1-on-1 check-in calls and pair/mob programming sessions.</li>
        <li>Reviews and feedback of relevant code, flowcharts, technical design documents, etc.</li>
      </ul>

      <h2 class="text-lg font-bold">Some things I can help with</h2>

      <ul>
        <li>Developing custom Drupal modules and themes.</li>
        <li>Drupal upgrades and migrations.</li>
        <li>Automated testing and test-driven development.</li>
        <li>CSS and front-end development.</li>
        <li>Implementing and using component libraries, such as Fractal.</li>
        <li>Continuous integration, delivery and deployment.</li>
        <li>Local environment and CI pipeline setup.</li>
        <li>Infrastructure automation, using tools like Terraform and Pulumi.</li>
        <li>Automating and simplifying repetitive or complex tasks.</li>
        <li>Contributing to open-source projects, such as Drupal.</li>
      </ul>
    </section>

    {# Social proof #}

    {# Overcome objections #}

    <section>
      <h2 class="text-lg font-bold">How does it work?</h2>

      <ul>
        <li>The cost of team coaching is £{{ page.price|number_format() }} per month, paid in advance.</li>
        <li>You apply by clicking on the button below and submitting the application form, telling me about your team and what you want to achieve.</li>
        <li>I'll review your application, usually within one working day.</li>
        <li>If successful, you make your first payment and book your onboarding call where we can define some key objectives and metrics.</li>
      </ul>

      <div class="my-8">
        {% include 'button.html.twig' with {
          position: 'centre',
          text: 'Apply now &rarr;',
          url: page.form_url,
        } %}
      </div>

      <p>If you need lighter-touch guidance and advice, I also offer one-time consulting calls and pair programming sessions.</p>
    </section>

    {% include 'testimonials' with {
      tag: 'coaching',
      limit: 5,
      title: 'What others have said',
    } %}

    {# Uniqueness #}

    <section>
      <h2 class="text-lg font-bold">Frequently Asked Questions</h2>

      {% for faq in page.faqs %}
        <li class="list-none">
          <h3 class="mt-0 text-lg">{{ faq.0 }}</h3>

          <p>{{ faq.1|raw }}</p>
        </li>
      {% endfor %}
    </section>

    <section>
      <h2 class="text-lg font-bold">Who am I?</h2>

      <ul>
        <li>I'm an Acquia-certified Drupal expert with {{ macros.yearsExperience }} years of professional development experience.</li>
        <li>I'm a former Drupal Association employee who was responsible for improving and maintaining Drupal.org.</li>
        <li>I'm a Drupal core contributor and maintain numerous Drupal projects, including the Override Node Options module, which is used on over 38,000 websites.</li>
        <li>I'm a multiple-time DrupalCon speaker who regularly presents talks and workshops at conferences and meetups.</li>
        <li>I have experience working in in-house teams, such as Transport for Wales and the Drupal Association.</li>
        <li>I have experience working for and with software development agencies.</li>
      </ul>
    </section>

    {# 2nd CTA #}

    <div>
      {% include 'button.html.twig' with {
        position: 'centre',
        text: 'Apply now',
        url: page.form_url,
      } %}
    </div>

    {% include 'testimonials' with {
      tag: 'coaching',
      offset: 5,
      title: 'More that others have said',
    } %}

    {# Urgency #}
    <section>
      <h2>Availability is limited</h2>

      <p>I'm only available for a few team coaching engagements per year.</p>
      <p>Scheduling is first come, first served, so the sooner you book your time slot, the sooner you will have the answers you need to upskill your team and deliver better software.</p>
        <p>If you have any questions, feel free to <a href="mailto:{{ site.email }}">send me an email</a>.</p>
    </section>
  </div>
{% endblock %}

{% block content_top %}
  {% include 'message.html.twig' %}
{% endblock %}
