<article>
    <h3 class="text-lg text-black mb-1">
        {% if talk.url %}
            <a class="text-inherit" href="{{ talk.url }}">{{ talk.title }}</a>
        {% else %}
            {{ talk.title }}
        {% endif %}
    </h3>

    <div class="text-sm text-grey-darkest">
        <p>{{ talk.excerpt }}</p>
    </div>

    {% if talk.url %}
        <footer class="mt-1">
            <a href="{{ talk.url }}" class="text-sm text-grey-dark hover:text-grey-darkest focus:text-grey-darkest">
                Find out more
                <span class="visuallyhidden">about {{ talk.title }}</span>
            </a>
        </footer>
    {% endif %}
</article>
